*,
body {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #f0f0f0;
    box-shadow: 3px 0px 8px black;
    display: flex;
    align-items: center;
}

nav .items{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

nav .items div.img{
    cursor: pointer;
    width: 30%;
    float: left;
}

div.img img{
    margin-left: 80px;
}

nav .items .icons{
    cursor: pointer;
    width: 70%;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
    margin-right: 180px;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
    background-color: #4a94f2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a i{
    color: white;
}


section.main-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
div.hide{
    display: none;
    transition: all 0.4s ease;
}

section.side-bar{
    height: 400px;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 4px #e2e2e2;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    transition: 0.4s ease-in-out;
}
div.menu{
    width: 60px;
    height: 50px;
    background-color: black;
    border-top-right-radius: 20px;
    margin: 0px;
    transition: 0.4s ease-in-out;
}
div.menu-items{
    background-color: white;
    width: 200px;
}
div.menu-items h5{
    background-color: black;
    color: white;
    font-family: monospace;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    font-size: 16px;
}
div.menu-items h6{
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
}
div.menu-items ul li{
    font-weight: bold;
    color: grey;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
section.side-bar i{
    float: right;
    margin: auto;
    width: 40px;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

section.main-text{
    margin-left: 100px;
    box-shadow: 1px 1px 4px #e2e2e2;
    border: gray;
    width: 80%;
    border-radius: 20px;
    height: 1600px;
    margin-bottom: 50px;
}

div.header{
    background-color: #0028fe;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
}
div.header h6{
    margin-left: 40px;
    font-size: 12px;
    padding-top: 14px;
}

.caption{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.assets{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 40px;
}
div.accordion{
    width: 500px;
    border-radius: 20px;
}

.accordion-header{
    width: 500px;
    background-color: black;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: bold;
    font-family: monospace;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.accordion div{
    transition: all 0.3s ease;
}
.accordion button{
    background-color: white;
    border: 0;    
    float: right;
}
div.accordion-item-One{
    height: 250px;
    font-weight: bold;
    font-size: 14px;
}
div.accordion-item-Two{
    height: 350px;
}
div.accordion-item-Two .accordion-body{
    display: flex;
    flex-direction: column;
}
div.accordion-item-Two .accordion-body textarea{
    box-shadow: 2px 2px 8px grey;
    border: none;
    border-radius: 20px;
    text-align: center;
    height: 160px;
}
div.accordion-item-Two .accordion-body button{
    background-color: blue;
    margin-top: 30px;
    width: 100px;
    margin-left: 350px;
    color: white;
    font-size: 13px;
    border-radius: 20px;
    height: 40px;
}
div.accordion-item-Three{
    height: 600px;
}
div.accordion-item-Four{
    height: 300px;
}
div.accordion-item-Five{
    height: 250px;
}
div.accordion-item-Five audio{
    width: 94%;
}
div.accordion-item-Six{
    height: 300px;
}

#button{
    background-color: blue;
    color: white;
    font-family: cursive;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
}
